<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Download Payslip</title>
</head>
<body>
	
	<h1> PaySlip</h1>
	<label for="months">Select Months:</label>

<select name="months" id="months">
  <option value="January">January</option>
  <option value="Febuary">Febuary</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="Octomber">Octomber</option>
  <option value="November">November</option>
  <option value="December">December</option>
  
</select>

<label for="Year">Select Year:</label>

<select name="year" id="year">
  <option value="four">2024</option>
  <option value="five">2025</option>
  <option value="six">2026</option>
  <option value="seven">2027</option>
  <option value="eight">2028</option>
  <option value="nine">2029</option>
  <option value="thirty">2030</option>
  <option value="tone">2031</option>
  <option value="ttwo">2032</option>
  <option value="tthree">2033</option>
  <option value="tfour">2034</option>
  <option value="tfive">2035</option>
  
</select>

<a href="http://localhost:8080/openpdf/employees">Download</a>

 
</body>
</html>