<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Download Payslip</title>
</head>
<body>
	<form action="http://localhost:8080/openpdf/employees">
	
	<h1> PaySlip</h1>
	<label for="months">Select Months:</label>

<select name="months" id="months">
  <option value="January">January</option>
  <option value="Febuary">Febuary</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="Octomber">Octomber</option>
  <option value="November">November</option>
  <option value="December">December</option>
  
</select>

<label for="year">Select Year:</label>

<select name="year" id="year">
  <option value="2024">2024</option>
  <option value="2025">2025</option>
  <option value="2026">2026</option>
  <option value="2027">2027</option>
  <option value="2028">2028</option>
  <option value="2029">2029</option>
  <option value="2030">2030</option>
  <option value="2031">2031</option>
  <option value="2032">2032</option>
  <option value="2033">2033</option>
  <option value="2034">2034</option>
  <option value="2035">2035</option>
  
</select>

<!--<a href="http://localhost:8080/openpdf/employees">Download</a>  -->

<input type="submit" id="btn1" value="Download" /input>
       </form>
 
</body>
</html>