<!DOCTYPE html>
<html>
	<head>
	     <link rel="stylesheet" href="style.css">
	     <link rel="stylesheet" href="tablecss.css">
        
       
	</head>
	<form id="Form2" action="somePostAction" method="post">
		
		<h1>Settings</h1>
<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
		
		</div>
<div class="container">
<input type="submit" class="btn"></button>		
		</div>

	</form>
	

</div>
<div class="container">
<input type="submit" class="btn"></button>		
		</div>

	</body>
</html>